// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
    background-color: rgb(63, 143, 136);
    padding: 0%;
    margin: 0;
}
a{
    text-decoration: none;
}
.white {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
.off_white{
color: whitesmoke;
font-family:Arial, Helvetica, sans-serif;
}
.yellow{
    color: rgb(214, 214, 26);

}
.center{
    text-align: center;
}
.top_btn{
    border: solid 2px white;
    margin: 2vw;
    padding: 1vw;

    font-size: 25px;
}
.products_list{
    margin: 2vw;
}
.form_options{
    margin: 2vw;
    padding: 1vw;
}
.product_options{
    font-size: 20px;
    padding: 2px;
}

.edit_delete{
    margin: 1vw;
    font-size: 20px;
}

.wrap{
    max-width: 4em;
}

.reviews{
    padding-left: 4vw;
    padding-bottom: 3vw;
}
