// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sign_in {
    position: absolute;
    top: 0cm;
    right: 0cm;
    padding: 1vw;
    font-size: 25px;
}